html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #F8F8F8;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f8f8f8;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

a {
  color: #337357;
}

p a {
  color: #337357;
}

/* Header */
header {
  background-color: #CFE8EF;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
  color: #22223B;
}

/* Image */

.Image {
  width: 100%;
  margin-right: 10%;
}

/* Navbar */

nav {
  list-style: none;
  /*padding-inline: 2%;*/
}
nav ul {
  list-style: none;
  display: flex;
  background-color: #003d5b;
  border-radius: 10px;
}

nav li {
  margin: auto;
  text-align: center;
  display: inline;
}

nav a {
  font-weight: bold;
  color: #f8f8f8;
  font-size: 1.2rem;
  margin:auto;
}

nav a:hover {
  font-weight: bold;
  color: #f8f8f8;
  background-color: #003d5b;
  font-size: 1.2rem;
  margin:auto;
}

/* Maximum width */
@media (max-width: 685px) {
nav {
  list-style: none;
  padding-inline: 2%;
}

  nav a {
  color: #003d5b;
}

nav ul {
  display: inline;
  background-color: #f8f8f8;
  margin: auto;

}
nav a:hover {
  color: black;
}
}

/* Footer */
footer * {
  box-sizing: border-box;
  list-style: none;
  justify-content: center;
  text-align: center;
}

footer .column {
  float: left;
  width: 50%;
}

footer .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Article List Styles */
ul {
  list-style: none;
  padding-left: 5%;
}

li {
  padding: 10px;
  border-radius: 5px;
}

li:hover {
  color: #f97068;
  cursor: pointer;
}

/* Footer Styles */
footer {
  background-color: #1d1d1c;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

footer p {
  margin: 0;
  font-weight: bold;
  color: #f8f8f8;
}

footer a {
  color: #f8f8f8;
}

footer ul {
  list-style: none;
  padding: 5%;
}

footer li:hover {
  color: #fff;
}

footer li p:hover {
  color: #f97068;
}

footer li a:hover {
  color: #f97068;
}

/* Button Styles */
.btn {
  display: inline-block;
  background-color: #337357;
  color: #fff;
  padding: 10px 20px;
  border-radius: 1px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #C6DBF0;
  color: #9D69A3;
  cursor: pointer;
}

.button {
  display: inline-block;
  background-color: #337357;
  color: #fff;
  padding: 10px 20px;
  border-radius: 1px;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* MailChimp Styles */
	#mc_embed_signup {
      background:#fff;
      clear:left;
      font:14px Helvetica,Arial,
      sans-serif;
      width:600px;
    }

	#mc-embedded-subscribe-form input[type=checkbox]{
      display: inline;
      width: auto;
      margin-right: 10px;
    }

	#mergeRow-gdpr {
      margin-top: 20px;
    }

	#mergeRow-gdpr fieldset label {
      font-weight: normal;
    }

	#mc-embedded-subscribe-form .mc_fieldset{
      border:none;
      min-height: 0px;
      padding-bottom:0px;
    }