html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #F8F8F8;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

a {
  color: #23967F;
}

/* Header */
header {
  background-color: #CFE8EF;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
  color: #22223B;
}

/* Navbar */

nav {
  list-style: none;
  margin-top: 2%;
  margin: auto;
}
nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin: auto;
  text-align: center;
  display: inline;
}

nav a {
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
  margin:auto;
}

/* Footer */
footer * {
  box-sizing: border-box;
  list-style: none;
  justify-content: center;
  text-align: center;
}

footer .column {
  float: left;
  width: 50%;
}

footer .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Article List Styles */
ul {
  list-style: none;
  padding-left: 5%;
}

li {
  padding: 10px;
  border-radius: 5px;
}

li:hover {
  color: #fff;
}

/* Footer Styles */
footer {
  background-color: #9D69A3;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

footer p {
  margin: 0;
  font-weight: bold;
  color: white;
}

/* Button Styles */
.btn {
  display: inline-block;
  background-color: #23967F;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #C6DBF0;
  color: #9D69A3;
  cursor: pointer;
}
