
.heroContainer {
  width: 100%;
  background: #f4f4f4;
  padding: 30px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  border-radius: 10px;
}

.content {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: #444444;
  text-align: center;
  border-radius: 10px;
}

.image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.image,
.content {
  width: 50%;
  object-fit: cover;
  opacity: 0.4;
  border-radius: 10px;
}

.heroWrapper {
  position: relative;
  width: 100%;
  height: 50vh;
  border-radius: 10px;
}

.imageWrapper {
  z-index: -1;
  border-radius: 10px;
}

.heroContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}