.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  overflow: hidden;
  color: #fff;
}

.container p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  overflow: hidden;
  color: #fff;
}

.container button {
  border-radius: 9999px;
  padding: 12px 24px;
  background-color: #3f51b5;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  minWidth: 0;
}

.container button:hover {
  background-color: #303f9f;
}

/* Sage Archetype */

.container h1::before {
  content: "\2713 ";
  color: #5f5f5f;
  font-size: 1.5rem;
  vertical-align: middle;
}

/* Innovator Archetype */
.container button.innovator {
  background-color: #546e7a;
}

.container button.innovator:hover {
  background-color: #455a64;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding: 0px;
}

.heroImage {
  margin: 10px;
}

.heroWrapper {
  position: relative;
  width: 100vw;
  height: 50vh;
}

.imageWrapper {
  z-index: -1;
}

.heroContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: #444444;
}
